.anchorpane{
    -fx-background-color: #e6e6e6;
}

.header{
    -fx-background-color: black;
}

.categories{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.categories:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: white;
}

.logo{
    -fx-font-family: "Calibri Light";
}

.left-form{
    -fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px;
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-text-fill: white;
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom, #278f96,#2d645f);
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.login-btn:hover{
    -fx-background-color:black;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:#000;
    -fx-border-width:.4px;
    -fx-border-radius:4px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";

}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-width:.8px;
}

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-text-fill: white;
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.nav-btn:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.logout{
    -fx-background-color:#219a6a;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:black;
    -fx-text-fill: white;
}

.labels{
    -fx-text-fill: white;
}

.closeHome{
    -fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-text-fill: white;
    -fx-cursor:hand;
}
.closeHome:hover{
    -fx-background-color:black;
    -fx-text-fill: white;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.rateArticle{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-text-fill: white;
    -fx-cursor:hand;
}

.rateArticle:hover{
    -fx-background-color: black;
    -fx-text-fill:white;
    -fx-border-color: white;
}
